.mainHeader {
	-fx-background-color: rgba(0, 0, 0, 0.6);
	-fx-pref-width: 1400px;
	-fx-pref-height: 35px;
	-fx-alignment: baseline-right;
	-fx-padding: 5 15 0 0;
	-fx-spacing: 10;
}

.btnClose {
	-fx-background-color: rgba(16, 64, 80, 0);
	-fx-background-radius: 5;
	-fx-background-image:url('btnClose2.png');
	-fx-background-size: 22;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 25;
	-fx-min-height: 25;
}

.btnMaximize {
    -fx-background-color: rgba(16, 64, 80, 0);
    -fx-background-image:url('btnMaximize2.png');
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 25;
    -fx-min-height: 25;
}

.btnMinimize {
    -fx-background-color: rgba(16, 64, 80, 0);
    -fx-background-radius: 5;
    -fx-background-image:url('btnMinimize2.png');
    -fx-background-size: 22;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 25;
    -fx-min-height: 25;
}