.txtAreaSqlValidationReturn {
    -fx-background-insets: 0;
    -fx-background-color: black;
    -fx-effect: dropshadow(gaussian, gray, 10, 0, 10, 15);
}

.txtAreaSqlStatement {
    -fx-background-insets: 0;
    -fx-background-color: black;
    -fx-effect: dropshadow(gaussian, gray, 10, 0, 10, 15);
}

