.mainViewContainer {
	-fx-background-color: rgba(133, 133, 133, 0.2);
	-fx-pref-height: 865px;
	-fx-pref-width: 1200px;
	-fx-border-style: solid;
	-fx-border-width: 2 2 2 0;
    -fx-border-color: rgba(133, 133, 133, 0.6);
    -fx-border-radius: 0 0 30 0;
}

.codeAreaSqlStatement {
    -fx-background-color: white;
    -fx-pref-height: 270px;
	-fx-pref-width: 1050px;
	-fx-text-fill: black;
	-fx-font-size: 18;
}


.codeAreaSqlValidationReturn {
    -fx-background-color: white;
    -fx-pref-height: 270px;
	-fx-pref-width: 1050px;
	-fx-text-fill: black;
	-fx-font-size: 18;
}

.txtAreaSqlValidationReturn:focused {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: rgba(255, 255, 255, 0.8);
}

.txtAreaSqlValidationReturnContainer {
	-fx-background-color: rgba(0, 0, 0, 0.8);
	-fx-pref-height: 350px;
	-fx-pref-width: 1100px;
	-fx-background-radius: 10;
}

.txtAreaSqlStatementContainer {
	-fx-background-color: rgba(0, 0, 0, 0.8);
	-fx-pref-height: 350px;
	-fx-pref-width: 1100px;
	-fx-background-radius: 10;
}

.validationReturnLabel {
	-fx-font-size: 24;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto';
}

.sqlStatementsLabel {
	-fx-font-size: 24;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto';
}


.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: red;
}

.comment {
    -fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.code-area{
    -fx-font-size: 16px;
}