.mainContainer {
	
}

.headerContainer {
	-fx-pref-height: 600px;
	-fx-pref-width: 200px; 
	-fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: #fff;
    -fx-background-color: rgba(0, 0, 0, 0.2);
}


.lblValidationReturn {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	
}

.lblSQLStatements {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.headerLogo {

}

.headerLabel {
	-fx-font-size: 24;
	-fx-color: white;
}