.menuContainer {
	-fx-pref-height: 800px;
	-fx-pref-width: 200px; 
	-fx-border-style: solid;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: rgba(133, 133, 133, 0.6);
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.menuLogoContainer {
    -fx-alignment: center;
}

.lblValidationReturn {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	
}

.lblSQLStatements {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.labelTecsys {
    -fx-text-fill: #C1C1C1;
    -fx-font-family: 'Roboto Black';
    -fx-font-size: 35;
}

.labelKerberus {
    -fx-text-fill: #C1C1C1;
    -fx-font-family: 'Montserrat Light';
    -fx-font-size: 30;
}